/* You can add global styles to this file, and also import other style files */
@import "~element-angular/theme/index.css";
li
  list-style none
* 
  margin 0
  padding 0
  -webkit-user-select: none; /*webkit浏览器*/
  -moz-user-select: none; /*火狐*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  -webkit-touch-callout: none;
  user-select: none;