.all{
    background: "#ffe4e1";
    height: 100vh;
    overflow: hidden;
}
header{
  display: flex;
  height: 50px;
}
.hidden{
  perspective: 140px;
}
.hidden .background{
  background: url('../../../static/image/IMG_20220201_154900.jpg') no-repeat;
  transform: translateZ(0px);
  background-size: cover;
  width: 100vw;
  transform-origin:70% 50%;
}
.book_l{
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;top: 0;
  height: 50px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}
.book_l img{
  width: .28rem;
  height: .28rem;
  margin: 0 .2rem;
}
.book_l span{
  font-size: 22px;
}
.search{
  background-color: #fff;
  flex: 1;
  overflow: hidden;
  height: 30px;
  border-radius: 30px;
  position: relative;
}
.anima{
  position: absolute;
  top: 0;

}
.search li{
  display: flex;
  align-items: center;
}
.book_l .history , .book_l .manage {
  width: .5rem;
  height: .5rem;
  object-fit: cover;
}
.tip{
  display: flex;
  padding: .2rem .24rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.tip p{
  margin-left: .2rem;
  font-size: 14px;
  color: #fff;
}
.canlender{
  position: relative;
  height: 24px;
}
.canlender img{
  width: 25px;
  height: 24px;
} 
.canlender span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6px;
  font-size: 12px;
  color: #fff;
}
.scroll_book{
  height: 100%;
  overflow-y: auto;
  padding-bottom:120px;
  box-sizing: border-box;

}
.find_more{
  color: red;
  border: 1px solid red;
  border-radius: 20px;
  text-align: center;
  width: fit-content;
  padding: 9px 18px;
  height: 20px;

  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
.loading_anima{
  position: absolute;
  z-index: 100;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.loading_anima   p{
color: #ffffff;
font-size: 12px;
white-space: nowrap;
text-align: center}