<div class="bookshelf" (mouseup)="touchEnd($event)">
  <header>
    <div class="hidden">
      <div class="background" [ngStyle]="{
      'transform': 'translateZ(' + scrollLong/2 +  'px'  +  ')',
      'height':150 +scrollLong+ 'px'
    }">
      </div>
      <!--  -->
      <!--  -->
      <!-- [attr.r]="scrollLong*15/210" -->
      <div class="loading_anima" *ngIf="scrollLong>0">
        <svg width="30" height="30" fill="green">
           <!--  -->

           <circle cx="15" [attr.cy]="15"
           stroke-width="6"
           stroke="rgb(255, 170, 170)"
           [attr.r]="scrollLong*7.5/100<7.5?scrollLong*7.5/100 :7.5"
        ></circle>

          <circle cx="15" [attr.cy]="15"
          [attr.stroke-dasharray]="scrollLong>100? 47-(scrollLong-100)*47/50 +' '+ (scrollLong-100)*47/50 : ''"
          [attr.stroke-dashoffset]="scrollLong>100? 11 + (47-(scrollLong-100)*47/50)/2 : ''"
          stroke-width="6"
          stroke="red"
 
          [attr.r]="scrollLong*7.5/100<7.5?scrollLong*7.5/100 :7.5"
          fill="red"></circle>
          <circle cx="15" [attr.cy]="15" [attr.r]="scrollLong<90?scrollLong*10/210-2: 7" fill="rgb(253, 201, 201)">
          
          </circle>
          <!-- <path [attr.d]="M 15,15 A 15,15,0,1,1, "> </path> -->
        </svg>
        <p>{{isLoading? "正在加载中..." : scrollLong < 100 ? '下拉刷新':'松手刷新'}}</p>
      </div>


    </div>
    <p>书架</p>
    <img src="http://1.116.252.29/arrow.png" class="header_left" alt="">
    <div class="header-search">

    </div>
    <img src="http://1.116.252.29/longtime.png" alt="">
    <img src="http://1.116.252.29/more.png" alt="">
  </header>

  <div class="booklist" (mousedown)="touchStart($event)" (mousemove)="touchMove($event)" [ngStyle]="{
    'top': 55 + scrollLong +'px'
  }">
    <div class="start">
      <div class="tip">
        <img src="http://1.116.252.29/canlender.png" alt="">
        <p>
          {{now}}
        </p>
      </div>
      <p>Hi，等你好久了，欢迎来到起点读书</p>
    </div>
    <div class="book_shelf_list">
      <app-book-show [booksList]="bookList"></app-book-show>
      <div class="find_more">
        <p>查找更多精彩作品</p>
      </div>
    </div>

  </div>

</div>