

.one_book
  display flex
  align-items center
  margin-bottom 10px
  position relative
  img 
    height 90px
    object-fit: contain
    margin-right 12px
  .book_detail
    padding 2vw 0
    height 80px
    display flex
    flex-direction: column;
    justify-content space-between
    p
      font-size: 16px
      overflow: hidden
      white-space :nowrap
      text-overflow: ellipsis
      width 70vw
    span 
      color: #3131319d
      font-size: 14px
  .more
    width 30px
    position absolute
    right 10px
    object-fit: contain
    top .2vw
    height auto
.tap2
  font-size: 12px
  padding 1px 3px
  border-radius: 3px
  background: #eee
  color: #aaa
  transform: scale(.8)
.one_book
  .lef
    font-size: 14px
  .tap1
    color: red
    position relative
    span
      color: #ffffff
      background:  rgb(255, 216, 216)
      font-size: 12px
      color:red;
      text-align center
      border-radius: 4px
      padding-left 5px
      padding-right 2px
    span:nth-child(2)
      line-height: 31px;
    span:nth-child(1)
      position: absolute
      left -16px
      top 6px

      font-size: 14px
      background-color red
      color: #fff;
      padding 0  3px
      transform: scale(.95)
  .book_detail
    .line2
      font-size: 12px
      flex: 1
      width 70vw
      overflow: hidden
      text-overflow: ellipsis
      -webkit-box-orient:vertical;
      -webkit-line-clamp:2;
      display: -webkit-box;


    